<% @posts.each do |post| %>
  <h2 class="title"><%= link_to post.title, "/post?permalink=#{post.permalink}" %></h2>
  <h3 class="num_comments">Score: <%= post.score %> Comments:<%= post.num_comments %></h3>
<% end %>